*,html{
  scroll-behavior: smooth;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all 0.5s ease-in-out;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
  --Sand-Tan: #e1b382;
  --Black: #000000;
  --White: #ffffff;
  --Sand-Tan-Shadow: #c89666;
  --Night-Blue: #2d545e;
  --maize: #F5D042;
  --oxford-blue: #0a174e;
}

body{
  background: var(--White);
  color: var(--White);
  width: min(1500px, 100%);
  margin: auto;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  backdrop-filter: blur(20px) brightness(50%);
  position: sticky;
  top: 0;
  z-index: 1;
}
header.scrolling{
  backdrop-filter: blur(20px) brightness(30%);
  height: 70px;
}
header div h3{
  color: white;
  text-transform: capitalize;
  font-variant: small-caps;
  background: linear-gradient(to right, var(--maize), var(--oxford-blue),var(--maize), var(--oxford-blue));
  background: wheat;
  background-clip: text;
  color: transparent;
}
header ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
header ul.open{
  opacity: 1;
  pointer-events: all;
  transform: translate(0px);
}
header ul li{
  position: relative;
}
header ul li::after{
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0%;
  background: var(--maize);
  content: "";
  transition: width 0.3s ease-in-out;
}
header ul li:hover::after{
  width: 100%;
}
header ul li:hover a{
  color: var(--maize);
}
header ul li a{
  text-decoration: none;
  color: wheat;
  font-variant: small-caps;
}
header nav{
  cursor: pointer;
  display: none;
}
header nav:hover div{
  background: var(--maize);
}
header nav div{
  height: 4px;
  width: 25px;
  margin: 5px;
  background: wheat;
  border-radius: 10px;
}
header nav.open div:first-child{
  transform: translateY(6px) rotate(40deg);
}
header nav.open div:nth-child(2){
  opacity: 0;
}
header nav.open div:last-child{
  transform: translateY(-12px) rotate(-40deg);
}


span{
  color: wheat;
}

main section:first-child{
  height: min(100vh, 800px);
  background-image: url(/static/images/Umofia-Anthony-Inemesit.jpg), url(/static/images/banner.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: left;
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main section:first-child .content{
  text-align: center;
  width: 70%;
  margin: auto;
  line-height: 1.5;
  padding: 2em;
}
main section:first-child .content h1{
  font-size: 50px;
  font-variant: small-caps;
}
main section:first-child .socials{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  gap: 15px;
  padding: 1em;
}
main section:first-child .socials a{
  text-decoration: none;
  color: wheat;
}
main section:first-child .socials i{
  display: block;
  font-size: 25px;
  transition: 0.2s ease-in-out;
}
main section:first-child .socials a:hover i{
  scale: 1.1;
  color: var(--maize);
}


/* SECOND */
main section:nth-child(2){
  color: black;
  text-align: center;
  padding: 3em 2em;
}
main section:nth-child(2) h1{
  font-variant: small-caps;
  text-transform: capitalize;
}
main section:nth-child(2) #services{
  position: relative;
}
main section:nth-child(2) #services::before{
  height: 100px;
  width: 200px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
main section:nth-child(2) .services{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: 30px auto;
}
main section:nth-child(2) .services div{
  cursor: pointer;
  padding: 2em;
  position: relative;
  border-radius: 10px;
  background: white;
}
@property --angle{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
main section:nth-child(2) .services div::after,
main section:nth-child(2) .services div::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: conic-gradient(from var(--angle), blue, red, transparent);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  z-index: -1;
  padding: 1px;
  transition: filter 0.5s ease-in-out;
  animation: spin 2s linear infinite;
}
@keyframes spin{
  from{--angle:0deg}
  to{--angle:360deg}
}
main section:nth-child(2) .services div::before{
  filter: blur(10px);
}
main section:nth-child(2) .services div:hover::after{
  filter: blur(20px);
  animation: none;
}
main section:nth-child(2) .services div p{
  line-height: 1.5;
  margin-top: 10px;
}
main section:nth-child(2) .services div h3{
  margin-top: 10px;
  font-variant: small-caps;
}
main section:nth-child(2) .services div i{
  font-size: 40px;
  color: transparent;
  background-image: linear-gradient(to right, red, blue);
  background-clip: text;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 850px) {
  header{
    height: 70px;
  }
  header ul{
    position: absolute;
    top: 100%;
    display: grid;
    gap: 20px;
    width: 100%;
    transform: translateY(-20px);
    opacity: 0;
    backdrop-filter: blur(20px) brightness(50%);
    background: black;
    padding: 2em 0;
  }  
  header ul li{
    margin: auto;
    text-align: center;
    width: fit-content;
  }
  header nav{
    display: block;
  }

  /* FIRST */
  main section:first-child{
    margin-top: -70px;
    height: 90vh;
  }
  main section:first-child .socials{
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
  }
  main section:first-child .socials a:hover i{
    margin-top: -5px;
  }
  main section:first-child .content h1{
    font-size: 35px;
  }

  /* SECOND */
  main section:nth-child(2) .services{
    grid-template-columns: 1fr;
  }
}