*, html{
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.5s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
:root{
  --light-blue: rgba(24, 29, 112, 0.4);
  --lighter-blue : rgba(24, 29, 112, 0.9);
}
body{
  background: rgb(2, 2, 34);
  color: white;
  width: min(100%, 1500px);
  margin: auto;
  overflow-x: hidden;
}

h1 {font-size: clamp(2rem, 5vw, 3rem);}
h2 {font-size: clamp(1.75rem, 4vw, 3rem);}
h3 {font-size: clamp(1.5rem, 3vw, 2.5rem);}
h4 {font-size: clamp(1.25rem, 2.5vw, 1.5rem);}
p {font-size: clamp(1rem, 1.5vw, 1.25rem);}
a {font-size: clamp(1rem, 1.5vw, 1.25rem);}
/* button {font-size: clamp(1rem, 1.5vw, 1.25rem);} */
button{font-size: 16px;}


/* HEADING */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px) brightness(80%);
  backdrop-filter: blur(10px) brightness(80%);
  padding: 10px 30px;
  position: relative;
}
header .logo{
  font-size: 20px;
  font-weight: bolder;
}
header ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}
header ul li{
  position: relative;
}
header ul li::after{
  content: "";
  position: absolute;
  width: 0%;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  height: 3px;
  background: white;
  transition: width 0.3s ease;
}
header ul li:hover::after{
  width: 60%;
}
header ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
header .cta-btn{
  padding: 10px 40px;
  background: var(--light-blue);
  border: 2px solid var(--lighter-blue);
  border-radius: 20px;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 5px rgb(29, 15, 90);
  cursor: pointer;
  font-size: 16px;
}
header .cta-btn:hover{
  box-shadow: 0px 0px 30px rgb(29, 15, 90);
}


header nav{
  display: none;
  cursor: pointer;
}
header nav div{
  height: 3px;
  background: white;
  margin: 5px;
  margin-left: auto;
  border-radius: 5px;
}

header nav.open div:first-child{
  width: 30px;
  transform: translateY(10px) rotate(40deg);
}
header nav.open div:nth-child(2){
  opacity: 0;
}
header nav.open div:last-child{
  width: 30px;
  transform: translateY(-6px) rotate(-40deg);
}
header nav div:first-child{
  width: 25px;
}
header nav div:nth-child(2){
  width: 20px;
}
header nav div:last-child{
  width: 15px;
}
@keyframes beat{
  0%, 100%{box-shadow: 0px 0px 30px rgba(51, 49, 49, 0.7);}
  50%{box-shadow: 0px 0px 70px rgba(51, 49, 49, 0.7);}
}


/* HERO SECTION */
main .hero{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 30px;
  margin-top: 70px;
}
main .hero .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .hero .content h4{
  margin-right: auto;
  background: var(--light-blue);
  border: 2px solid var(--lighter-blue);
  box-shadow: 0px 0px 5px rgb(29, 15, 90);
  padding: 5px 30px;
  border-radius: 10px;
}
main .hero .content h1{
  margin-top: 10px;
  line-height: 1.5;
}
main .hero .content h1 span{
  background: var(--light-blue);
  border: 2px solid var(--lighter-blue);
  padding: 0px 10px;
  border-radius: 10px;
}
main .hero .content p{
  width: 70%;
  line-height: 1.5;
  margin-right: auto;
  margin-top: 10px;
}
main .hero .content .cta{
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
main .hero .content .cta button{
  padding: 10px 30px;
  background: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: 2px solid var(--lighter-blue);
  box-shadow: 0px 0px 5px rgb(29, 15, 90);
}
main .hero .content .cta button:first-child,
main .hero .content .cta button:last-child:hover{
  background: var(--light-blue);
}
main .hero .content .cta button:first-child:hover,
main .hero .content .cta button:last-child{
  background: none;
}
main .hero .photo{
  max-height: 70vh;
  display: flex;
  align-items: center;
}
main .hero .photo img{
  width: 90%;
  height: 80%;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgb(29, 15, 90);
}
@media screen and (max-width:900px) {
  header .cta-btn{
    display: none;
  }  

  header nav{
    display: block;
  }
  header ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: block;
    -webkit-backdrop-filter: blur(10px) brightness(80%);
    backdrop-filter: blur(10px) brightness(80%);
    background: black;
    overflow: hidden;
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
  }
  header ul.open{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }
  header ul::before{
    content: "";
    height: 50%;
    width: 20%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(51, 49, 49, 0.3);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    animation: beat 1s ease infinite;
  }
  header ul::after{
    content: "";
    height: 50%;
    width: 20%;
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgba(51, 49, 49, 0.3);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    animation: beat 1s ease infinite;
  }
  header ul li{
    width: fit-content;
    margin: 15px auto;
  }

  /* HERO */
  main .hero{
    display: block;
    text-align: center;
  }
  main .hero .content h4{
    margin: auto;
  }
  main .hero .content p{
    width: 100%;
  }
  main .hero .cta{
    width: fit-content;
    margin: auto;
  }
  main .hero .photo{
    margin-top: 50px;
  }
  main .hero .photo img{
    width: 100%;
    height: 300px;
  }
}