{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" href="/static/images/feem_1d2ffcacc8829_IMG-20250903-WA0121.jpg">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>KingTony | Web Developer | Virtual Assistant</title>
</head>
<body>
    <header>
        <div>
            <h3>
                <i class="fa-solid fa-person"></i>
                Umofia Anthony
            </h3>
        </div>

        <ul>
            <li><a href="#home">
                <i class="fa-solid fa-house"></i>
                Home
            </a></li>

            <li><a href="#about">
                <i class="fa-solid fa-address-card"></i>
                About
            </a></li>

            <li><a href="#projects">
                <i class="fa-solid fa-diagram-project"></i>
                Projects
            </a></li>

            <li><a href="#contact" id="contact">
                <i class="fa-solid fa-id-card"></i>
                Contact
            </a></li>

            <li><a href="#hire-me" id="hire">
                <i class="fa-solid fa-business-time"></i>
                Hire Me
            </a></li>
        </ul>

        <nav>
            <div></div>
            <div></div>
            <div></div>
        </nav>
    </header>
    
    <main>
        
        <section id="home">
            <div class="content">
                <h1>Hello! This Is Anthony</h1>
                <p>A Full-Stack Website Developer and Programmer</p>
                <p>Website Designer | Virtual Assistant | Web3 Developer | Mobile Game Developer | Mobile App Developer | Data Analyis and Entry</p>
            </div>

            <div class="socials">
                <a href="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="x-twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </section>

        <section id="projects">
            <div class="content">
                <p>SERVICES PROVIDED</p>
                <h1>Build mobile friendly, engaging and responsive websites and web applications</h1>

                <div class="services">
                    <div>
                        <i class="fa-solid fa-marker"></i>
                        <h3>Graphic Design</h3>
                        <p>Creating and designing eye-catching and flyers and banners</p>
                    </div>

                    <div>
                        <i class="fa-solid fa-satellite"></i>
                        <h3>Web design</h3>
                        <p>Building mobile-friendly, interactive and responsive websites that suit your purpose and brand</p>
                    </div>

                    <div>
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <h3>Mobile Apps</h3>
                        <p>Web hosting and integration of modern day technologies that appear just great on mobiles and all screen sizes</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- <i class="fa-solid fa-quote-left"></i>
        <i class="fa-solid fa-quote-right"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-circle-check"></i>
         -->

    </main>
</body>
<script src="/static/app.js"defer></script>
</html>