{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" href="/static/images/feem_1d2ffcacc8829_IMG-20250903-WA0121.jpg">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>KingTony | Web Developer</title>
</head>
<body>
    <header>
        <div>
            <h3>
                <i class="fa-solid fa-person"></i>
                Umofia Anthony
            </h3>
        </div>

        <ul>
            <li><a href="#home">
                <i class="fa-solid fa-house"></i>
                Home
            </a></li>

            <li><a href="#services">
                <i class="fa-solid fa-award"></i>
                Services
            </a></li>

            <li><a href="#tools">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                tools
            </a></li>

            <li><a href="#projects">
                <i class="fa-solid fa-diagram-project"></i>
                Projects
            </a></li>

            <!-- <li><a href="#about" id="contact">
                <i class="fa-solid fa-id-card"></i>
                About
            </a></li> -->

            <li><a href="#hire-me" id="hire">
                <i class="fa-solid fa-business-time"></i>
                Hire Me
            </a></li>

            <li id="theme" theme="light"><a href="#">
                <i class="fa-solid fa-toggle-on"></i>
                Toggle
            </a></li>
        </ul>

        <nav>
            <div></div>
            <div></div>
            <div></div>
        </nav>
    </header>
    
    <a href="#home" class="top"><i class="fa-solid fa-up-long"></i></a>

    <main>
        
        <section id="home">
            <div class="content">
                <h1>Hello! This Is <span>TonDev</span></h1>
                <p>A Full-Stack Website Developer and Programmer</p>
                <p>Website Designer | Virtual Assistant | Web3 Developer | Mobile Game Developer | Mobile App Developer | Data Analysis and Data Entry</p>
            </div>

            <div id="scroll-down">
                <a href="#projects"><i class="fa-solid fa-down-long"></i></a>
            </div>

            <div class="socials">
                <a href="https://www.facebook.com/profile.php?id=61580504160296">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://x.com/Web3Dev65391?t=28acQ-x17MSBAZXXMylAmw&s=09">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://www.instagram.com/invites/contact/?utm_source=ig_contact_invite&utm_medium=copy_link&utm_content=zes7b5z">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://wa.me/message/2K74D4IVW5QPL1">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://tiktok.com/@tondev4">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </div>
        </section>

        <section id="services">
            <div class="content">
                <p id="service">SERVICES PROVIDED</p>
                <h1>Build mobile-friendly responsive websites and web applications</h1>

                <div class="services">
                    <div>
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <h2>Mobile App Development</h2>
                        <p><i class="fa-solid fa-check"></i>Fintech Apps</p>
                        <p><i class="fa-solid fa-check"></i>E-commerce Apps</p>
                        <p><i class="fa-solid fa-check"></i>E-learning Apps</p>
                        <p><i class="fa-solid fa-check"></i>React Native</p>
                        <p><i class="fa-solid fa-check"></i>Flutter</p>
                    </div>

                    <div>
                        <i class="fa-solid fa-display"></i>
                        <h2>Front-End Development</h2>
                        <p><i class="fa-solid fa-check"></i>Hero Section</p>
                        <p><i class="fa-solid fa-check"></i>Landing Pages</p>
                        <p><i class="fa-solid fa-check"></i>Construction Websites</p>
                        <p><i class="fa-solid fa-check"></i>Educational Websites</p>
                        <p><i class="fa-solid fa-check"></i>Web3 Development</p>
                    </div>

                    <div>
                        <i class="fa-solid fa-satellite"></i>
                        <h2>Back-End Development</h2>
                        <p><i class="fa-solid fa-check"></i>API Integration</p>
                        <p><i class="fa-solid fa-check"></i>Data Manipulation</p>
                        <p><i class="fa-solid fa-check"></i>Python,Django</p>
                        <p><i class="fa-solid fa-check"></i>Rust,Laravel</p>
                        <p><i class="fa-solid fa-check"></i>Database</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h1>Professional Feats</h1>
            <div class="content">
                <div class="arch">
                    <div>
                        <i class="fa-solid fa-user-secret"></i>
                    </div>

                    <div>
                        <h2><span counter="60">60</span> +</h2>
                        <p>Satisfied Clients</p>
                    </div>
                </div>

                <div class="arch">
                    <div>
                        <i class="fa-solid fa-list-check"></i>
                    </div>

                    <div>
                        <h2><span counter="30">30</span> +</h2>
                        <p>Projects Completed</p>
                    </div>
                </div>

                <div class="arch">
                    <div>
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>

                    <div>
                        <h2><span counter="4">4</span> +</h2>
                        <p>Years of Experience</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="tools">
            <h1>My Programming Languages And Frameworks</h1>
            <div class="tools">
                <div class="tool">
                    <i class="fa-brands fa-html5"></i>
                    <h3>HTML</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-css3"></i>
                    <h3>CSS</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-js"></i> 
                    <h3>Vanilla JavaScript</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-python"></i>
                    <h3>Python</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-node-js"></i>
                    <h3>Node.Js</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-react"></i>
                    <h3>React</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-vuejs"></i>
                    <h3>Vue.Js</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-flutter"></i>
                    <h3>Flutter</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-php"></i>
                    <h3>PHP</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-react"></i>
                    <h3>React Native</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-laravel"></i>
                    <h3>Laravel</h3>
                </div>

                <div class="tool">
                    <i class="fa-brands fa-rust"></i>
                    <h3>Rust</h3>
                </div>
                
                
            </div>
        </section>

        <section id="projects">
            <div class="content">
                <h3>PORTFOLIO</h3>
                <h1>Some of my awesome projects here</h1>

                <div class="projects">
                    <div class="project">
                        <div>
                            <img src="/static/images/vertical.png" alt="">
                        </div>
                        <h2>Vertical Limit Academy</h2>
                        <h4>Educational Web Application</h4>
                        <a href="">View Project</a>
                    </div>

                    <div class="project">
                        <div>
                            <img src="/static/images/cryptgo.png" alt="">
                        </div>
                        <h2>CryptGo Stock Exchange</h2>
                        <h4>Bitcoin Exchange Website</h4>
                        <a href="https://cryptgo-investment.vercel.app/">View Project</a>
                    </div>

                    <div class="project">
                        <div>
                            <img src="/static/images/portfolio.png" alt="">
                        </div>
                        <h2>My Portfolio Website</h2>
                        <h4>Mass Display</h4>
                        <a href="https://kingtony.vercel.app/">View Project</a>
                    </div>

                    <div class="project">
                        <div>
                            <img src="/static/images/feane.png" alt="">
                        </div>
                        <h2>Feane's Fast Food Restaurant</h2>
                        <h4>Eatery | Restaurant Website</h4>
                        <a href="https://my-aura-eight.vercel.app/">View Project</a>
                    </div>

                    <div class="project">
                        <div>
                            <img src="/static/images/chandos.png" alt="">
                        </div>
                        <h2>Chandos Construction Company</h2>
                        <h4>Construction Company</h4>
                        <a href="https://chandos.vercel.app/">View Project</a>
                    </div>

                    <div class="project">
                        <div>
                            <img src="/static/images/restoran.png" alt="">
                        </div>
                        <h2>Restoran Restaurant & Diner</h2>
                        <h4>Eatery | Restaurant Website</h4>
                        <a href="https://restoran-restaurant.vercel.app/">View Project</a>
                    </div>
                </div>

            </div>
        </section>

        <section id="hire-me">
            <h4>Make Contact</h4>
            <h1>Ensure to contact and reach out to me if you're in need of my services</h1>

            <form action="#">
                <div class="names">
                    <div>
                        <label for="name"><i class="fa-solid fa-signature"></i></label>
                        <input type="text" id="name" placeholder="Name" required>
                    </div>

                    <div>
                        <label for="email"><i class="fa-solid fa-inbox"></i></label>
                        <input type="email" id="email" placeholder="Email" required>
                    </div>

                    <div>
                        <label for="phone"><i class="fa-solid fa-phone"></i></label>
                        <input type="tel" id="phone" placeholder="Phone" required>
                    </div>

                    <div>
                        <label for="project"><i class="fa-solid fa-list-check"></i></label>
                        <input type="text" id="project" placeholder="Project" required>
                    </div>
                </div>

                <div>
                    <label for="message"><i class="fa-solid fa-message"></i></label>
                    <textarea name="message" id="message" rows="10" cols="10" placeholder="Message"></textarea>
                </div>

                <input type="submit" value="Send Message">
            </form>
        </section>

        <footer>
            <div>
                <img src="/static/images/Umofia-Anthony-Inemesit.jpg" alt="">
                <h3>Credit</h3>
                <p>Umofia Anthony Inemesit a.k.a TonDev</p>
                <p>All Rights Reserved &copy; TonDev</p>
                <p>Developed by <b><i>TonDev</i></b></p>
            </div>

            <div>
                <h3>Contacts</h3>
                <a href="sms:09038776537">
                    <i class="fa-solid fa-phone"></i>
                    +234 903 8776 537
                </a>

                <a href="sms:09025468909">
                    <i class="fa-solid fa-phone"></i>
                    +234 902 5468 909
                </a>

                <a href="mailto:umofiainemesit65391@gmail.com">
                    <i class="fa-solid fa-comments"></i>
                    umofiainemesit65391@gmail.com
                </a>
            </div>

                <div>
                    <h3>My Socials</h3>
                    <div class="socials">
                        <a href="https://www.facebook.com/profile.php?id=61580504160296">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://x.com/Web3Dev65391?t=28acQ-x17MSBAZXXMylAmw&s=09">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/invites/contact/?utm_source=ig_contact_invite&utm_medium=copy_link&utm_content=zes7b5z">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://wa.me/message/2K74D4IVW5QPL1">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                        <a href="https://tiktok.com/@tondev4">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <!--  -->


        <!-- 
        
               
        
        
        
        
        
        
        <i class="fa-solid fa-code"></i>
        
        
        <i class="fa-solid fa-marker"></i>

        
        -->
        <!-- <i class="fa-solid fa-quote-left"></i>
        <i class="fa-solid fa-quote-right"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-circle-check"></i>
         -->

    </main>
</body>
<script src="/static/app.js"defer></script>
</html>